.input {
  background: #f6f8fa;
  border-radius: 5px;
  padding: 16px 12px;
  position: absolute;
  top: 15px;
  right: 0;

  &::placeholder {
    color: #b3b7bc;
    font-size: 16px;
    line-height: 22px;
  }
}
